<form (ngSubmit)="submitQuote()" #quoteForm='ngForm'>
    <h5>add quote</h5>
    <div class="form-group">
        <label>Write quote:</label>
        <textarea [(ngModel)]="newQuote.quote" class="form-control" rows="2" name="quote" required></textarea>
    </div>
    <div class="form-group">
        <label>Author:</label>
        <input [(ngModel)]="newQuote.author" class="form-control" name="author" required/>
    </div>
    <div class="form-group">
        <label>Your name:</label>
        <input [(ngModel)]="newQuote.submitter" class="form-control" name="submitter" required/>
    </div>
    <button class="btn btn-secondary" type="submit">submit</button>
</form>