<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <p>”He who does not know one thing knows another”.</p>
            <app-quote-detail></app-quote-detail>
            <button class="btn">View</button>
            <button class="btn btn-success" id="like">Like</button>
            <button class="btn btn-danger" id="dislike">Dislike</button>
        </div>
        <div class="col-lg-5">
            <app-new-quote></app-new-quote>
        </div>
    </div>
</div>
