<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <h3>Quotes:</h3>
            <div appMostVoted *ngFor='let quote of quotes;let i = index'>
                <p>{{quote.quote}}</p>
                <app-quote-detail *ngIf='quote.showDetails' [quote]='quote'></app-quote-detail>
                <button (click)='toggleDetails(i)' class="btn btn-secondary">{{quote.showDetails ? 'Hide' : 'Show'}}</button>
                <button (click)='upvoteQuote(i)' class="btn btn-success" id="upvotes">upvotes</button>
                <button (click)='downvoteQuote(i)' class="btn btn-warning" id="downvotes">downvotes</button>
                <button (click)= 'deleteQuote($event,i)' class="btn btn-danger" >Delete</button>
            </div>
        </div>
        <div class="col-lg-5">
            <app-new-quote (addQuote)="addNewQuote($event)"></app-new-quote>
        </div>
    </div>
</div>
